<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= fingerprint['assets/page.css'] %>"/>
    <script src="<%= fingerprint['assets/immediate.js'] %>"></script>
    <script src="<%= fingerprint['assets/page.js'] %>" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><%= title %></a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%- contents %>
    </div>
  </body>
</html>
